@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Product Add</h1>
    </div>

    <form asp-action="AddItem" asp-controller="MarketPlace" enctype="multipart/form-data">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="productName" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="productName" name="Name" placeholder="Enter Product Name">
            </div>
            <div class="col-md-3">
                <label for="quantity" class="form-label">Qty</label>
                <input type="number" min="1" class="form-control" name="AvailableQuantity" id="quantity" value="1">
            </div>
            <div class="col-md-3">
                <label for="status" class="form-label">Status</label>
                <select id="status" name="Status" class="form-select">
                    <option selected>In Stock</option>
                    <option>Out of Stock</option>
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Product Description</label>
            <textarea class="form-control" id="description" name="Description" rows="3" placeholder="Enter Product Description"></textarea>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" id="category" name="Category" placeholder="Enter Product Category">
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" name="Price" id="price" value="100">
                </div>
            </div>
            <div class="col-md-6">
                <label for="imageUpload" class="form-label">Upload Image</label>
                <input class="form-control" name="ImageUrl" type="file" id="imageUpload">
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button type="reset" class="btn btn-secondary me-2">Cancel</button>
            <button type="submit" class="btn btn-primary">Add New Product</button>
        </div>
    </form>
</div>
