@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div >
    <div class="container mt-4">
        <div class="row mb-4">
            <div class="col-md-6">
                <h1>Dashboard</h1>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-3">
                <div class="card card-small p-3">
                    <div class="card-body">
                        <h5 class="card-title">All Earnings</h5>
                        <p class="card-text display-6">$3,020</p>
                        <p class="text-success">+30.6%</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-small p-3">
                    <div class="card-body">
                        <h5 class="card-title">Page Views</h5>
                        <p class="card-text display-6">290K+</p>
                        <p class="text-warning">+30.6%</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-small p-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Task</h5>
                        <p class="card-text display-6">839</p>
                        <p class="text-success">New</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-small p-3">
                    <div class="card-body">
                        <h5 class="card-title">Download</h5>
                        <p class="card-text display-6">2,067</p>
                        <p class="text-danger">+30.6%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
