<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>HomePage</title>
</head>
<body>
    <div>
        <div class="mb-2 electrician">
            <div class="text-center p-5 top">
                <h2 class="text-white fw-bold">EXPERT ELECTRIC SERVICE DONE</h2>
                <h2 class="text-white fw-bold">RIGHT THE FIRST TIME</h2>
                <p class="text-white">Efficient electric solutions delivered with seamless, professinal</p>
                <p class="text-white">service from start to finish.</p>
                <div class="d-flex flex-wrap justify-content-center">
                    <a href="/ContactUs/Booking" class="btn btn-success text-white fw-bold  m-2 rounded-0">Book an Appointment</a>
                    <a href="/AboutUs/Index" class="btn p-3 text-decoration-none text-white fw-bold border border-white bgwhite rounded-0">Learn More</a>
                </div>
            </div>
            <div class="container my-3">
                <div class="row g-0 text-center mycol">
                    <!-- First Column -->
                    <div class="col-md-3 left ">
                        <div class="card bg-transparentblue text-white rounded-0">
                            <div class="card-body borderright">
                                <i class="bi bi-wrench" style="font-size: 2rem;"></i>
                                <h5 class="card-title mt-3 text-white">Installation</h5>
                                <p class="card-text text-white">Curabitur massa potenti duis mus aliquam lorem gravida.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Second Column -->
                    <div class="col-md-3 left">
                        <div class="card bg-transparentblue text-white rounded-0">
                            <div class="card-body borderright">
                                <i class="bi bi-tools" style="font-size: 2rem;"></i>
                                <h5 class="card-title mt-3" style="opacity:1;">Repair</h5>
                                <p class="card-text" style="opacity:1;">Curabitur massa potenti duis mus aliquam lorem gravida.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Third Column -->
                    <div class="col-md-3 right ">
                        <div class="card bg-transparentblue text-white rounded-0">
                            <div class="card-body borderright">
                                <i class="bi bi-brush" style="font-size: 2rem;"></i>
                                <h5 class="card-title mt-3">Redesign</h5>
                                <p class="card-text">Curabitur massa potenti duis mus aliquam lorem gravida.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Fourth Column -->
                    <div class="col-md-3 right ">
                        <div class="card bg-success borderright text-white rounded-0">
                            <div class="card-body">
                                <i class="bi bi-life-preserver" style="font-size: 2rem;"></i>
                                <h5 class="card-title mt-3">Support</h5>
                                <p class="card-text">Curabitur massa potenti duis mus aliquam lorem gravida.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div class="text-center">
                <h2 class="fw-bold text-green">
                    Why choose us
                </h2>
                <p class="fw-bolder">Electrical problems made simple, with fast and efficient solutions.</p>
            </div>
            <div>
                <div class="container py-2">
                    <div class="row text-center">
                        <div class="col-md-3 mb-4">
                            <div class="card h-100">
                                <div class="card-body text-white bg-blue borderbottom">
                                    <div class="mb-3">
                                        <i class="fa-regular fa-gem fa-2x rounded-circle p-3 bg-success"></i>
                                    </div>
                                    <h5 class="card-title fw-bold">Fast and Reliable Service</h5>
                                    <p class="card-text">Efficiur lobortis amet faucibus feugiat aptent convallis cubilia bibendum nostra nulla arcu.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="card h-100 border-0">
                                <div class="card-body text-white bg-blue borderbottom">
                                    <div class="mb-3">
                                        <i class="fa-solid fa-bag-shopping fa-2x rounded-circle p-3 bg-success"></i>
                                    </div>
                                    <h5 class="card-title fw-bold">Locally Owned and Operated</h5>
                                    <p class="card-text">Efficiur lobortis amet faucibus feugiat aptent convallis cubilia bibendum nostra nulla arcu.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="card h-100 border-0">
                                <div class="card-body text-white bg-blue borderbottom">
                                    <div class="mb-3">
                                        <i class="fa-solid fa-wrench fa-2x rounded-circle p-3 bg-success"></i>
                                    </div>
                                    <h5 class="card-title fw-bold">Advanced Tools and Technology</h5>
                                    <p class="card-text">Efficiur lobortis amet faucibus feugiat aptent convallis cubilia bibendum nostra nulla arcu.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="card h-100 border-0">
                                <div class="card-body text-white bg-blue borderbottom">
                                    <div class="mb-3 ">

                                        <i class="fa-solid fa-mug-hot fa-2x rounded-circle p-3 bg-success"></i>
                                    </div>
                                    <h5 class="card-title fw-bold">Comprehensive Plumbing Solutions</h5>
                                    <p class="card-text">Efficiur lobortis amet faucibus feugiat aptent convallis cubilia bibendum nostra nulla arcu.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*SERVICES SECTION*@

    <div class="container py-5" id="services">
        <p class="text-center text-success fw-bold top">WHAT WE OFFER</p>
        <h2 class="text-center fw-bold mb-4 text-blue">Fast, reliable plumbing expertise you can trust.</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">

            <div class="col left">
                <div class="card rounded-0">
                    <div class="card-body">
                        <div> <i class="fa-solid fa-wrench fa-2x pb-4"></i></div>
                        <h5 class="card-title fw-bold">Ac Installation</h5>
                        <p class="card-text">Effictur gravida ante risus nisi litora sollicitudin.</p>
                        <a href="#" class="btn btn-green rounded-0">Learn more</a>
                    </div>
                </div>
            </div>

            <div class="col left">
                <div class="card rounded-0">
                    <div class="card-body ">
                        <div><i class="fa-solid fa-droplet fa-2x pb-4"></i></div>
                        <h5 class="card-title fw-bold">Leak Detection</h5>
                        <p class="card-text">Effictur gravida ante risus nisi litora sollicitudin.</p>
                        <a href="#" class="btn btn-green rounded-0">Learn more</a>
                    </div>
                </div>
            </div>

            <div class="col right">
                <div class="card rounded-0">
                    <div class="card-body">
                        <div> <i class="fa-solid fa-broom fa-2x pb-4"></i></div>
                        <h5 class="card-title fw-bold">Ac Cleaning</h5>
                        <p class="card-text">Effictur gravida ante risus nisi litora sollicitudin.</p>
                        <a href="#" class="btn btn-green rounded-0">Learn more</a>
                    </div>
                </div>
            </div>

            <div class="col right">
                <div class="card rounded-0">
                    <div class="card-body ">
                        <div><i class="fa-solid fa-temperature-arrow-up fa-2x pb-4"></i></div>
                        <h5 class="card-title fw-bold">Refrigerator Repairing</h5>
                        <p class="card-text">Effictur gravida ante risus nisi litora sollicitudin.</p>
                        <a href="#" class="btn btn-green rounded-0">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col left">
                <div class="card rounded-0">
                    <div class="card-body ">
                        <div><i class="fa-solid fa-ethernet fa-2x pb-4"></i></div>
                        <h5 class="card-title fw-bold">House Wiring</h5>
                        <p class="card-text">Effictur gravida ante risus nisi litora sollicitudin.</p>
                        <a href="#" class="btn btn-green rounded-0">Learn more</a>
                    </div>
                </div>
            </div>

            <div class="col left">
                <div class="card rounded-0">
                    <div class="card-body ">
                        <div><i class="fa-solid fa-fire-burner fa-2x pb-4"></i></div>
                        <h5 class="card-title fw-bold">Stove Installation</h5>
                        <p class="card-text">Effictur gravida ante risus nisi litora sollicitudin.</p>
                        <a href="#" class="btn btn-green rounded-0">Learn more</a>
                    </div>
                </div>
            </div>

            <div class="col right">
                <div class="card rounded-0">
                    <div class="card-body">
                        <div><i class="fa-solid fa-fire fa-2x pb-4"></i></div>
                        <h5 class="card-title fw-bold">Electric Heater Repair</h5>
                        <p class="card-text">Effictur gravida ante risus nisi litora sollicitudin.</p>
                        <a href="#" class="btn btn-green rounded-0">Learn more</a>
                    </div>
                </div>
            </div>

            <div class="col right">
                <div class="card rounded-0">
                    <div class="card-body">
                        <div><i class="fa-solid fa-house fa-2x pb-4"></i></div>
                        <h5 class="card-title fw-bold">Home Applainces</h5>
                        <p class="card-text">Effictur gravida ante risus nisi litora sollicitudin.</p>
                        <a href="#" class="btn btn-green rounded-0">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*   ABOUT US SECTION *@
    <div class="container-fluid" id="aboutus">
        <div class="row ">
            <div class="container my-5">
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="card shadow-sm shadow fade-in">
                            <div class="card-body">
                                <div class="rounded-circle bg-light text-success d-inline-block p-3 mb-3">
                                    <i class="bi bi-lightbulb" style="font-size: 2rem;"></i>
                                </div>
                                <h5 class="card-title">Our Vision</h5>
                                <p class="card-text">Effictur lobortis amet faucibus feugiat aptent convallis cubilia bibendum nostra nulla arcu</p>
                                <a href="#" class="btn btn-success">Learn more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card shadow-sm shadowfade-in">
                            <div class="card-body bg-bluegreen">
                                <div class="rounded-circle bg-light text-success d-inline-block p-3 mb-3">
                                    <i class="bi bi-gear" style="font-size: 2rem;"></i>
                                </div>
                                <h5 class="card-title text-white">Our Mission</h5>
                                <p class="card-text text-white">Effictur lobortis amet faucibus feugiat aptent convallis cubilia bibendum nostra nulla arcu</p>
                                <a href="#" class="btn btn-light">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow-sm shadow fade-in">
                            <div class="card-body">
                                <div class="rounded-circle bg-light text-success d-inline-block p-3 mb-3">
                                    <i class="bi bi-bar-chart" style="font-size: 2rem;"></i>
                                </div>
                                <h5 class="card-title">Our Motto</h5>
                                <p class="card-text">Effictur lobortis amet faucibus feugiat aptent convallis cubilia bibendum nostra nulla arcu</p>
                                <a href="#" class="btn btn-success">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </<div>
                <div class="row">
                    <div class="col">
                        <p class="text-center text-blue text-fade">
                            Trusted by 25000+ world-class brands and organizations of all sizes.
                        </p>
                    </div>
                </div>

            </div>
        </div>
</body>

</html>
<script>


    document.addEventListener("DOMContentLoaded", function () {
        const fadeElements = document.querySelectorAll(".fade-in, .text-fade");

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("visible");
                }
            });
        });

        fadeElements.forEach(element => observer.observe(element));
    });
</script>
