@model List<CartItem>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Applainces</title>
</head>
<body>
    <div>
        <div class="container py-5">
            <h3 class="text-center text-success fw-bold top">Applainces</h3>
            <h2 class="text-center fw-bold mb-4 text-blue top">Slightly used certified applainces you can trust.</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                @foreach (var item in Model)
                {
                    <div class="col">
                        <div class="card pricing-card rounded-0">
                            <img src=@Url.Content("~/"+ item.ImageUrl) class="card-img-top" alt="Master Texture Finish">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Name: @item.Name</h5>
                                <p class="text-center card-features">Description: @item.Description</p>
                                <p class="card-price fw-bold">Price: $@item.Price</p>
                                <form asp-action="Index" asp-controller="MarketPlace" method="post">
                                    <input type="hidden" name="id" value="@item.ItemId" />
                                    <button type="submit" class="btn btn-green rounded-0">Add to Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>