@{
    ViewData["Title"] = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>About Us</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row elecwiring py-5">
            <div class="col p-5">
                <h3 class="text-white fw-bolder">About Us</h3>
                <p class="text-white fw-bold">Where expert electrition meets exceptional customer service.</p>
            </div>
        </div>
        <div class="row ">
            <div class="container my-5">
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="card shadow-sm shadow">
                            <div class="card-body">
                                <div class="rounded-circle bg-light text-success d-inline-block p-3 mb-3">
                                    <i class="bi bi-lightbulb" style="font-size: 2rem;"></i>
                                </div>
                                <h5 class="card-title">Our Vision</h5>
                                <p class="card-text">Effictur lobortis amet faucibus feugiat aptent convallis cubilia bibendum nostra nulla arcu</p>
                                <a href="#" class="btn btn-success">Learn more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card shadow-sm shadow">
                            <div class="card-body bg-bluegreen">
                                <div class="rounded-circle bg-light text-success d-inline-block p-3 mb-3">
                                    <i class="bi bi-gear" style="font-size: 2rem;"></i>
                                </div>
                                <h5 class="card-title text-white">Our Mission</h5>
                                <p class="card-text text-white">Effictur lobortis amet faucibus feugiat aptent convallis cubilia bibendum nostra nulla arcu</p>
                                <a href="#" class="btn btn-light">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow-sm shadow">
                            <div class="card-body">
                                <div class="rounded-circle bg-light text-success d-inline-block p-3 mb-3">
                                    <i class="bi bi-bar-chart" style="font-size: 2rem;"></i>
                                </div>
                                <h5 class="card-title">Our Motto</h5>
                                <p class="card-text">Effictur lobortis amet faucibus feugiat aptent convallis cubilia bibendum nostra nulla arcu</p>
                                <a href="#" class="btn btn-success">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </<div>
                <div class="row">
                    <div class="col">
                        <p class="text-center text-blue">
                            Trusted by 25000+ world-class brands and organizations of all sizes.
                        </p>
                    </div>
                </div>

            </div>
</body>
</html>